<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Nifty Thrifty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .search-bar {
          display: flex;
          justify-content: center;
          align-items: center;
      }
        
      .search-bar input[type="text"] {
          padding: 8px;
          width: 200px;
      }
        
      .search-bar button {
          padding: px 12px;
          background-color: #066e35;
          color: white;
          border: none;
          cursor: pointer;
      }
    </style>
  </head>
  <header>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/">Homepage</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>

    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </div>
  </header>
  <body>
    {{{body}}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </head>
</html>


{{!-- 
<body>
    
  <header class="image-header">
    <img src="womens-header.jpg"/>   
  </header>

 <section class="productSectionWrapper">

 <!--!!!! box 1-->
 {{#each products}}
 {{#if this.isWomens}}
  <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
  </section>
  
  <header class="image-header">
    <img src="mens-header.jpg"/> 
  </header>
  
  <section class="productSectionWrapper">

  {{#each products}}
  {{#if this.isMens}}
    <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
 {{/if}}
 {{/each}}
 </section>


  <header class="image-header">
     <img src="kids-header.jpg"/> 
  </header>

 <section class="productSectionWrapper">

   {{#each products}}
   {{#if this.isKids}}
   <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
   <h2 class="product-title">{{this.title}}</h2>
   <p class="product-description">{{this.description}}</p>
   <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
   </div>
   {{/if}}
   {{/each}}
  </section>
</body> --}}