
  {{!-- <! hero header>
 <header class="image-header">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image">
  </header>


   <! womens header>
   <header class="image-header1">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image Womens">
  </header>

 <section class="productSectionWrapper">
</section> --}}

<h1>Women's Clothing</h1>

<section class="productSectionWrapper">

 <!--!!!! box 1-->
 {{#each products}}
 {{#if this.isWomens}}
  <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</section>
  
<h1>Men's Clothing</h1>
  
<section class="productSectionWrapper">
  {{#each products}}
  {{#if this.isMens}}
    <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
 {{/if}}
 {{/each}}
</section>


<h1>Kid's Clothing</h1>
<section class="productSectionWrapper">

   {{#each products}}
   {{#if this.isKids}}
   <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
   <h2 class="product-title">{{this.title}}</h2>
   <p class="product-description">{{this.description}}</p>
   <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
   </div>
   {{/if}}
   {{/each}}
</section>

<h1>Upload new Item!</h1>
<section>
  <button 
      id="upload_widget" 
      class="cloudinary-button">
        Upload files
    </button>
</section>

<footer class="footer">
  <p>Nifty Thrifty</p>
</footer>