
  <! hero header>
 <header class="image-header">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image">
  </header>


   <! womens header>
   <header class="image-header1">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image Womens">
  </header>

 <section class="productSectionWrapper">

 <! box 1>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
  
   <! box 2>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 3>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 4>
<div class="product-box"> 
  <div class="product-image">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 5>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 6>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 7>
<div class="product-box">    
   <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 8>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 9>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
</section>


<! mens header>
 <header class="image-header2">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image Mens">
  </header>


 <section class="productSectionWrapper">

 <! box 10>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
  
   <! box 11>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 12>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 13>
<div class="product-box"> 
  <div class="product-image">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 14>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 15>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 16>
<div class="product-box">    
   <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 17>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 18>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
</section>

<! Kids header>
<header class="image-header3">
    <img src="pexels-david-bartus-297933.jpg" alt="Header Image Kids">
  </header>

 <section class="productSectionWrapper">

 <! box 19>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
  
   <! box 20>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 21>
</div>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <! box 22>
<div class="product-box"> 
  <div class="product-image">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

 <!box 23>
<div class="product-box">
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 24>
<div class="product-box">
    <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 25>
<div class="product-box">    
   <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 26>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>

<! box 27>
<div class="product-box">    
  <div class="product-image3">
   <img src="pic_trulli.jpg" alt="Italian Trulli">
  </div>
<h2 class="product-title">{{title}}</h2>
 <p class="product-description">{{description}}</p>
 <p class="product-price">{{price}}</p>
</div>
</section>

<! footer>
 <footer class="footer">
    <p> footer goes here</p>
  </footer>
