<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <!-- <img src="img/example.png"> -->
    <header class="image-header">
        <img src="https://images.unsplash.com/photo-1620799140188-3b2a02fd9a77?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODgxODA2OTh8&ixlib=rb-4.0.3&q=80&w=400"/> 
  </header>

   <header class="image-header">
  women's
        <img src="womens-header.jpg"/> 
  </header>

 <section class="productSectionWrapper">

 <!--!!!! box 1-->
 {{#each products}}
 {{#if this.isWomens}}
  <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
 </section>

 <header class="image-header">
  men's
        <img src="mens-header.jpg"/> 
  </header>

 <section class="productSectionWrapper">

 {{#each products}}
 {{#if this.isMens}}
  <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
  <h2 class="product-title">{{this.title}}</h2>
  <p class="product-description">{{this.description}}</p>
  <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
  </div>
 {{/if}}
 {{/each}}
 </section>


  <header class="image-header">
   Kid's
        <img src="kids-header.jpg"/> 
  </header>

 <section class="productSectionWrapper">

   {{#each products}}
   {{#if this.isKids}}
   <div class="product-box">
      <div class="product-image">
     <img class="resize" src="img/{{this.imageSrc}}"/>
    </div>
   <h2 class="product-title">{{this.title}}</h2>
   <p class="product-description">{{this.description}}</p>
   <p class="product-price">{{this.price}}</p>
    <div class="chat-container">
    {{#each this.commentBox}}
    {{#if this.text}}
    <div class="comment">{{this.text}} by {{this.user}}</div>
    {{/if}}
    {{/each}}


      <div class="chat-input">
        <input type="text" class="message-input" placeholder="Type your message">
        <button class="send-button">Send</button>
      </div>
    </div>
   </div>
   {{/if}}
   {{/each}}
 </section>

 <footer class="footer">
    <p> footer goes here</p>
  </footer>
 

</script>
</html>
